@tailwind base;
@tailwind components;
@tailwind utilities;

.button-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
