.gallery {
    height: 100vh;
    width: 100vw;
}

.overlay {
    background: white;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.galleryContainer {
    width: 100%;
    flex: 1;
    /* height: 100vh; */
    margin: 0;
    padding: 0 20px 20px 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    padding-left: 120px;
}

.galleryItem {
    border-radius: 40px;
    padding: 20px;
    cursor: pointer;
    margin: 20px 0 0 20px;
    flex: 1 1 100px;
    aspect-ratio: 1/1;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.36);
}

.singleImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    pointer-events: none;
}

.singleImageContainer * {
    pointer-events: all;
}

.singleImage {
    border-top-left-radius: 150px;
    width: 90%;
    height: 80%;
}

.arrowContainer {
    height: 100px;
    padding-right: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.arrowPrev {
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.arrowNext {
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
}