.gallery {
    height: 100vh;
    width: 100vw;
}

.overlay {
    background: var(--rgbBackground);
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.galleryContainer {
    width: 100%;
    flex: 1;
    /* height: 100vh; */
    margin: 0;
    padding: 0 20px 20px 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    padding-left: 120px;
}

.galleryItem {
    padding: 20px;
    cursor: pointer;
    margin: 20px 0 0 20px;
    flex: 1 1 100px;
    aspect-ratio: 1/1;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    pointer-events: none;
}

.singleImageContainer * {
    pointer-events: all;
}

.singleImage {
    border-top-left-radius: 150px;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.arrowContainer {
    height: 100px;
    padding-right: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.arrowPrev {
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.arrowNext {
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.containerImage {
    width: 100%;
    aspect-ratio: 16/ 9;
    position: relative;
}

.title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.desc {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.button {
    background: white;
    border-radius: 8px;
    padding: 10px 20px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
    margin: 20px 0;
}

.uses {
    flex: 1;
}

.contentMain {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .galleryContainer {
        flex-direction: column;
        padding-left: 130px;
        margin-top: 80px;
    }

    .galleryItem {
        width: 100%;
    }

    .singleImage {
        position: fixed;
        border-top-left-radius: 20px;
    }
}

@media (max-width: 769px) {
    .galleryContainer {
        padding-left: 20px;
    }

    .uses {
        display: none;
    }
}

@media (max-width: 1400px) {
    .title {
        font-size: 20px;
    }

    .desc {
        font-size: 16px;
    }
}