.container {
    height: 100vh;
    width: 100vw;
    background-color: #41b14f;
    background-image: linear-gradient(#9ec14c, #35b146);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    overflow: hidden;
}

.contentTitle {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0.3rem;

    text-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

.containerValues {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    max-width: 568px;
    width: 100%;
    z-index: 1;
}

.labelValues {
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}

.space {
    height: 10px;
}

.codeValues {
    font-size: 18px;
    letter-spacing: 0.05rem;
}

.btnCopy {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: hsla(0, 0%, 100%, .2);
    border: 2px solid hsla(0, 0%, 100%, .1);
    border-radius: 10px;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color .15s ease;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.07rem;
    color: white;
}

.glsComponentMb {
    z-index: 1;
}

.selectColor {
    border-radius: 5px;
    width: 80px;
    height: 20px;
}

.copied {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 100px 20px 20px 20px;
    }

    .contentTitle {
        font-size: 30px;
        margin-bottom: 45px;
    }

    .labelValues {
        font-size: 12px;
    }

    .codeValues {
        font-size: 12px;
    }

    .space {
        height: 0px;
    }
}